
<h2>Search user's friends</h2>

<div class="row" >
<div class="span6 offset3" >

    <%= form_tag nil, :method => :get do %>
      <%= label_tag "Type your email:" %>
      <%= text_field_tag "email", params[:email] %>
      <%= submit_tag "search", :id => "idbutton_friends", :class => "btn btn-large btn-primary" %>        
    <% end %>
  </div>
</div>


<% if !@user_found.nil? %>
<% if (@user_found.results.size == 0) then %>
<b>No results</b>
<% else %>

<% if !@friends_found.nil? %>
<% if (@friends_found.items.size == 0) then %>
<b>No results</b>
<% else %>

<h3>Results</h3>
<br>
<table class="table">
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Gender</th>
<th>Biography</th>
<th>Home City</th>
<th>Email</th>
</tr>

<% @friends_found.items.each do |user| %>

<% if (user["relationship"] == "friend") then%>
<tr>
<td><%= user["firstName"] %></td>
<td><%= user["lastName"] %></td>
<td><%= user["gender"] %></td>
<td><%= user["bio"] %></td>
<td><%= user["homeCity"] %></td>
<td><%= user["contact"]["email"] %></td>
</tr>
<% end %>

<% end %>

</table>
<% end %>
<% end %>
<% end %>
<% end %>