
<h2>Search Users</h2>

<div class="row" >
<div class="span6 offset3" >

    <%= form_tag nil, :method => :get do %>

    <%= select_tag "option", options_for_select([["Name","Name"],["Email","Email"],["Twitter","Twitter"],["Phone","Phone"]]) %>

      <%= text_field_tag "value", params[:value] %>
      <%= submit_tag "search", :id => "idbutton", :class => "btn btn-large btn-primary" %>        
    <% end %>
  </div>
</div>


<% if !@user.nil? %>

<%  if (@user.results.size == 0) then %>
<b>No results</b>
<% else %>

<h3>Results</h3>
<br>
<table class="table">
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Gender</th>
<th>Biography</th>
<th>Home City</th>
<th>Email</th>
</tr>

<% @user.results.each do |u| %>

<tr>
<td><%= u["firstName"] %></td>
<td><%= u["lastName"] %></td>
<td><%= u["gender"] %></td>
<td><%= u["bio"] %></td>
<td><%= u["homeCity"] %></td>
<td><%= u["contact"]["email"] %></td>
</tr>

<% end %>

</table>
<% end %>

<% end %>


